@mixin title {
    font-size: 2rem;
    text-align: center;
    margin: 4rem;
    padding-top: 1rem;
    @media (min-width: 768px){
        font-size: 3rem;
    }
    @media (min-width: 1280px){
        font-size: 3.5rem;
    }
}