@import './abstracts/mixins';

.about{
    padding-bottom: 1rem;
    
    .cTitle {
        @include title
    }
    .aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
        .sobreMi {
            flex: 1;
            width: 80%;
            margin-bottom: .5rem;
            background-color: var(--verde-oscuro);
            text-align: center;
            padding: 15px;
            font-size: large;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        
            p {
                font-size: small;
                text-align: left;
            }
            .personalData{
                display: flex;
                flex-direction: column;
                margin: 20px;
                text-align: left;
            }
            .data{
                padding: 5px;
                font-size: medium;
            }
            .btnCV {
                background-color: #00ff00;
                width: 200px;
                border: none;
                letter-spacing: 1px;
                border-radius: 2rem;
                padding: 5px;
                margin: 5px;
                color: rgb(255, 255, 255);
                a {
                    color: black;
                    font-size: large;
                    font-weight: bold;
                }
                &:hover {
                    background: #2a532a;
                }
            }
        }
        .foto {
            flex:0,75;
            opacity: 0.6;
            border-radius: 5px;
            width: 60%;
            padding-bottom: 10px;
        }
    }
    .frase{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding: 5px;
        .chapa{
            position: relative;

            height: 180px;
            padding: 10px;
            margin: 15px 5px;
            background: rgb(173,176,177);
            background: linear-gradient(90deg, rgba(173,176,177,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 64%, rgba(177,180,181,1) 97%);
            border: 4px solid #ccc;
            border-radius: 10px;
            box-shadow: 5px 5px 15px rgba(160, 142, 142, 0.3);
            .agujero {
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: black;
                border: 3px solid #f1e5e5;
                border-radius: 50%;
            }
            .agujero1 { top: 5px; left: 5px; }
            .agujero2 { top: 5px; right: 5px; }
            .agujero3 { bottom: 5px; left: 5px; }
            .agujero4 { bottom: 5px; right: 5px; }
        }
    }
}


@media (min-width: 768px) {
    .sobreMi {
        h2 {
            font-size: xx-large;
        }

        p {
            font-size: larger;
        }
        .data{
            font-size: larger;
        }
    }

}

@media (min-width: 1280px){
    .aboutInfo{
        display: flex;
        flex-direction: row-reverse;
        margin: 5rem;
    }
    .sobreMi{
        height: 35rem;
        .data{
            font-size:x-large;
        }
    }
    .foto{
        width: 40%;
        height: 35rem;
        margin-right: 1rem;
    }
}