.phrase {
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: small;
    color: var(--verde);

}

.texto {

    font-size: 12px;
}

@media (min-width: 768px) {}

@media (min-width: 1280px) {}