@import './abstracts/mixins';

.projects {

    .cTitle {
        @include title
    }

    .cardsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .cardProyect {
            margin: 20px;
            background-color: rgb(36, 35, 35);
            border-radius: 20px;
            max-width: 20rem;
            height: 32rem;
            box-shadow: 4px 4px 8px 8px #888888;

            .imgPoyects {
                width: 100%;
                height: 20rem;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                padding-bottom: 1rem;
            }

            .description {
                height: 10rem;
                padding: 15px;
                margin-bottom: 15px;
                .title {
                    font-size: 1.7em;
                    text-align: center;
                }
                .links {
                    text-align: center;
                    margin: 8px;
                    .btnL a {
                        color: var(--verde-claro);
                        margin: 5px;
                    }
                }
                .text {
                    font-size: large;
                }

            }
        }
    }
}

@media (min-width: 768px) {
    .projects {
        height: 100vh;
    }
}

@media (min-width: 1280px) {}